<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dtalk.dd">

    <permission android:name="com.dtalk.dd.permission.RECEIVE_MSG"
        android:protectionLevel="signature"/>
    <permission android:name="com.dtalk.dd.permission.INCOMING_CALL"
        android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.dtalk.dd.permission.RECEIVE_MSG" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    // 如果没有VOIP功能可以忽略
    <uses-permission android:name="com.dtalk.dd.permission.INCOMING_CALL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="getui.permission.GetuiService.com.dtalk.dd"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <permission
        android:name="getui.permission.GetuiService.com.dtalk.dd"
        android:protectionLevel="normal">
    </permission>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.dtalk.dd.app.IMApplication"
        android:icon="@drawable/super_icon"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:theme="@style/AppComBaseTheme" >
        <activity
            android:name="com.dtalk.dd.ui.activity.MessageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dtalk.dd.ui.activity.ResetPasswordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.AuthActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.dtalk.dd.ui.activity.ApplicantActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.dtalk.dd.ui.activity.MobileFragment"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.dtalk.dd.ui.activity.OwnGroupListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.dtalk.dd.ui.activity.ContactFragmentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/contact_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.CircleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.CircleImagePubActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <service
            android:name="com.dtalk.dd.imservice.service.IMService"
            android:exported="false" >
        </service>
        <service android:name="com.dtalk.dd.imservice.service.LoadImageService" />
        <service android:name="com.dtalk.dd.imservice.service.LoadFileService" />
        <service android:name="com.dtalk.dd.imservice.service.LoadShortVideoService" />
        <activity
            android:theme="@style/customTheme"
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            />

        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            />
        <activity
            android:name="com.dtalk.dd.ui.activity.PickPhotoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.ImageGridActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.LookBigPicActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            ></activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.PickAvatarPhotoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.AvatarImageGridActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.PreviewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.PreviewTextActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.PreviewGifActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.GroupManagermentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.GroupMemberSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.WebViewFragmentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.dtalk.dd" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.DetailPortraitActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.PreviewMessageImagesActivity"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name="com.dtalk.dd.ui.activity.BaiduMapActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.BaiduMapSearchActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.dtalk.dd.ui.activity.LocationCheckActivity"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name="com.dtalk.dd.ui.plugin.FileExplorerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.dtalk.dd.voip.VoIPCallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.dtalk.dd.intent.ACTION_VOICE_CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="MnGWQh9tr1e8cDEV2lcy7SKmheYV36s0" />

        // SDK核心服务配置
        <service android:name="com.yuntongxun.ecsdk.ECClientService"
            android:enabled="true" android:process=":push" />
        // 以下两项为SDK事件提醒广播
        <receiver android:name="com.yuntongxun.ecsdk.booter.CCPReceivers$AlarmReceiver"
            android:process=":push" />
        // v5.1.9r增加配置选项
        <receiver android:name="com.yuntongxun.ecsdk.booter.Alarm"
            android:exported="false" android:process=":push"/>
        // SDK网络改变广播
        <receiver
            android:name="com.yuntongxun.ecsdk.booter.CCPReceivers$ConnectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        // SDK广播通知配置（开机广播）
        // 可选广播、如果应用想做开机重启，可以实现该广播通知即可
        <receiver
            android:name="com.yuntongxun.ecsdk.booter.CCPReceivers$BootReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        // 配置SDK消息通知广播 ,SDK通知会分三种提醒方式
        // 1、直接通过设置的回调接口（OnChatReceiveListener）Push给应用
        // 2、如果应用没有设置回调接口则采用（BroadcastReceiver）广播通知（v5.1.8版本）
        //    此时如果应用处于未运行状态则会直接唤醒应用处理
        // 3、如果应用未处于运行状态并且不想被唤醒应用运行则采用状态栏通知处理（SDK直接提醒，不会通知应用）,比如调用
        // ECDevice#logout(ECDevice.NotifyMode, ECDevice.OnLogoutListener)退出接口传入后台接收消息才会有提醒

        // 注意：以上在a和b的场景下，SDK都会将消息直接给应用处理，只有在c的情况SDK才会直接处理消息提醒，
        //    所以应用需要处理a和b两种情况
        // 声明自定义通知的广播接收器，第三方 APP 集成时，action 中的 com.yuntongxun.ecdemo 请替换为自己的包名

        <receiver
            android:name="com.dtalk.dd.imservice.service.PushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>
        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message"/>
            </intent-filter>
        </service>
        <service
            android:name="com.igexin.sdk.PushServiceUser"
            android:exported="true"
            android:label="NotificationCenterUser">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.user.message"/>
            </intent-filter>
        </service>
        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="com.igexin.sdk.action.refreshls"/>
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice"/>
        <receiver android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.dtalk.dd"
            android:exported="true"
            android:process=":pushservice"/>
        <!-- 个推SDK配置结束 -->

        <meta-data
            android:name="channel"
            android:value="${channel_value}" />
        <meta-data android:value="c5eb1775bd4b379ab043ffc7191e508b" android:name="BUG_HD_SDK_GENERAL_KEY" />

        <!-- 开机自启动 -->
        <receiver
            android:name="com.dtalk.dd.imservice.service.BootCompletedReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service  android:name="com.dtalk.dd.imservice.service.HostMonitor"
            android:enabled="true"
            android:exported="true">
        </service>
        <service  android:name="com.dtalk.dd.imservice.service.GrayService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service  android:name="com.dtalk.dd.imservice.service.GrayService$GrayInnerService"
            android:enabled="true"
            android:exported="true">
        </service>
        <activity
            android:name="com.yixia.camera.demo.ui.record.MediaRecorderActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme">
        </activity>
        <activity
            android:name="com.yixia.camera.demo.ui.record.MediaPreviewActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme"></activity>
        <activity
            android:name="com.yixia.camera.demo.ui.record.ImportVideoActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme"></activity>
        <activity
            android:name="com.yixia.camera.demo.ui.record.VideoPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme"></activity>

        <service android:name="com.yixia.camera.demo.service.AssertService" />
    </application>

</manifest>